html {
  box-sizing: border-box;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  /*1rem 10px  */
  font-weight: normal;
  color: white;
  background-color: black;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* задание пременной */
:root{
  --text-size-medium: 1.6rem;
}

.container {
  max-width: 130rem;
  /*1rem 10px  */
  margin: 0 auto;
}

.button {
  border-radius: 50px;
  padding: 1rem 3rem;
  color: white;
  font-size: var(--text-size-medium);
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  padding-left: 8rem;
  padding-right: 11rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header__logo {
  display: block;
  height: 4rem;
  width: 4rem;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav a {
  margin-right: 7.1rem;
  font-size: var(--text-size-medium);
}

.header__nav a:last-child {
  margin-right: 0;
}

.header__btn {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.main-display {
  padding-top: 27rem;
  padding-bottom: 22.8rem;
}

.main-display .container {
  position: relative;
  z-index: 10;
}

.main-display__header {
  max-width: 67rem;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 140%;
  margin-bottom: 5rem !important;
}

.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer__item:last-child {
  margin-right: 0;
}

.timer__count {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.timer__text {
  font-size: var(--text-size-medium);
  line-height: 140%;
  opacity: 0.4;
}

.main-display__btn {
  font-size: var(--text-size-medium);
  font-weight: 700;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-dispay__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work{
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap{
  display: flex;
  justify-content: space-between;
}

.work__img img{
  width: 52.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}

.work__text{
  padding-top: 6.9rem;
}

.work__title{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 4.5rem;
}

.work__description{
  font-size: var(--text-size-medium);
  line-height: 160%;
}

.process{
  padding-bottom: 20rem;
}

.process__img img{
  width: 9rem;
  height: 4.5rem;
  margin-right: 2rem;
}

.process__title{
  display: flex;
  align-items: center;
  margin-bottom: 4.9rem;
}

.process__header{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%; 
}

.process__decription{
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
  max-width: 41.1rem;
  margin-bottom: 8rem;
}

.process__colummns{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.process__colummns::after{
  content: '';
  position: absolute;
  display: block;
  width: 130rem;
  height: 0.2rem;
  top: 7rem;
  left: 0;
  right: 0;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.process__item{
  margin-right: 1.8rem;
}

.process__item:last-child{
  margin-right: 0;
}

.process__work{
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
  margin-bottom: 6.5rem;
}

.process__text{
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

.comand{
  padding-bottom: 20rem;
}

.comand__images img{
  transform: rotate(45deg);
}

.comand__tilte{
  margin-bottom: 11.9rem;
}

.comand__header{
  margin-bottom: 0;
}

.comand__wrap{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.comand__img img{
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
}

.comand__name{
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
  margin-bottom: 1.5rem;
}

.comand__profesion{
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.comand__link{
  border: 1px solid #FFFFFF;
}

.assebly{
  padding-bottom: 24.4rem;
}

.assebly__wrap{
  text-align: center;
}

.assebly__title{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 3rem;
}

.assebly__description{
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 4.5rem;
}

.assebly__btn{
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  margin-bottom: 40px;
}

.assebly__social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.assebly__item{
  margin-right: 30px;
}

.assebly__item:last-child{
  margin-right: 0;
}

.assebly__link{
  width: 5rem;
  height: 5rem;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.assebly__img{
  width: 2.4rem;
  height: 2.4rem;
}
